body{
    background-color: skyblue;
}

h1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    margin: 10px;
}

h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
}

#mern-motto {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
    letter-spacing: 5px;
}

img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    object-fit: cover;
    display: block;
  }

  ol li{
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
}

h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
}

form{
    text-align: center;
    border: 1px solid black;
    padding: 40px;
    width: 20%;
    background-color: white;
    margin: 10px auto;
}

#top{
    display: flex;
    background-color: white; 
}

a {
    text-decoration: none;
    justify-content: center;
    text-align: center;
    display: flex;
  }


#landing, #register {
    height: 600px;
  }

button {
    background-color: rgb(223, 17, 69);
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
  }

  label, input {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 5px 0;
  }